<div id="title"> 
  <h1 class="titulo"> {{title}} </h1>  
  <h2 class="subtitulo"> {{subtitle}} </h2>
  <p class="subtitulo"> {{email}} </p>
</div>

<article class="about">
  <h2 class="titulo">Sobre mí</h2>
  <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Error suscipit adipisci impedit animi quas alias? Nesciunt quos molestiae rerum sit, consectetur amet cum explicabo ipsa aut mollitia quisquam hic nam voluptas recusandae rem nobis. Molestiae debitis quod soluta aliquid obcaecati a cum, culpa labore doloremque nobis dolores fugiat vero veritatis repellendus quasi? Ipsa, nesciunt ex itaque qui non dolorum neque.</p>
</article>