<header class="titulo">
  <ul>
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
    <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
    <li id="logo"><a href="#">DM</a></li>
    <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
    <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>

<section id="content">
  <router-outlet></router-outlet>
</section>

<footer class="subtitulo">
  <ul>
    <li>&copy; 2020 Daniel Márquez -</li>
    <li><a href="https://www.github.com/DanMarqz">GitHub</a>|</li>
    <li><a href="https://www.linkedin.com/in/danmarqz/">LinkedIn</a>|</li>
    <li><a href="https://www.twitter.com/danmjs">Twitter</a></li>
  </ul>
</footer>